@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #0d171e;
}

thead {
    background-color: #0d171e;
    color: white;
}